<!--{{LoadTemplate(header)}}-->
<div class="sui-layout" style="height: 100%;">
  	<div class="sidebar" >			
		<ul class="sui-nav nav-list nav-xlarge" id="Clist">
		  <li class="nav-header" id="DB"></li>
          <script type="text/javascript" src="/assets/js/jsonformat.js"></script>
		  <script type="text/javascript">
              $(document).ready(function(){
                  $.get("/mongo.show dbs",function(data,status){
                    var dbs=data.split('\n')
                    if(dbs.length>=1){
                        $('#DB').text(dbs[0])
                        $.get("/mongo/"+dbs[0]+".show collections",function(data2,status){
                            var cs=data2.split('\n')
                            for(var i=0;i<cs.length;i++){
                                var cli='<li class="C" id='+"'C_"+cs[i]+"'"+'><a>'+cs[i]+'</a></li>'                                
                                $('#Clist').append(cli)
                                
                            }    
                            $('.C').on("click",C_showjson)             
                        })
                    }
                  })
              })
              function C_showjson(){
                  var Cname=(this.id).substring(2)
                  $.get("/mongo/"+$('#DB').text()+"/"+Cname+".find({})",function(data,status){
                      $('#dataarea').text(formatJson(data))
                  })
              }
          </script>

		</ul>
	</div>
  <div class="content" id="pagecontent" style="height: 100%;border-left:solid 5px #eee;border-right:solid 5px #eee;">
	<textarea style="height: 80%;background:white;width:100%;" id="dataarea"></textarea> 
    <textarea style="height: 18%;background:white;width:100%;" id="cmdarea"></textarea> 
  </div>
</div>

<!--{{LoadTemplate(footer)}}-->
